USE [master]
GO
/****** Object:  Database [p4117178HebbracoSkills]    Script Date: 25/01/2016 20:47:19 ******/
CREATE DATABASE [p4117178HebbracoSkills]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'p4117178HebbracoSkills', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\p4117178HebbracoSkills.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'p4117178HebbracoSkills_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\p4117178HebbracoSkills_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [p4117178HebbracoSkills].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [p4117178HebbracoSkills]
GO
/****** Object:  Table [dbo].[Skills]    Script Date: 25/01/2016 20:47:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Skills](
	[StaffSkillsId] [varchar](50) NOT NULL,
	[StaffCode] [varchar](50) NULL,
	[SkillCode] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Skills] PRIMARY KEY CLUSTERED 
(
	[StaffSkillsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Skills] ([StaffSkillsId], [StaffCode], [SkillCode]) VALUES (N'1', N'36542', N'BOSIET')
INSERT [dbo].[Skills] ([StaffSkillsId], [StaffCode], [SkillCode]) VALUES (N'10', N'43462', N'FAA')
INSERT [dbo].[Skills] ([StaffSkillsId], [StaffCode], [SkillCode]) VALUES (N'2', N'82838', N'BT')
USE [master]
GO
